In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import zipfile

In [2]:
train_df = pd.read_csv('train.csv')

In [3]:
train_df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [4]:
target = train_df['target']

In [5]:
train_df = train_df.drop(['target'] , axis = 1)

In [6]:
test_df = pd.read_csv('test.csv')

In [7]:
test_df.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

In [8]:
sample = pd.read_csv('sample_submission.csv')

In [9]:
train_df.describe()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,7.567236,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,1.235070,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,3.970500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,6.618800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,7.629600,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,8.584425,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,11.150600,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

In [10]:
train_df.shape

(200000, 201)

In [11]:
test_df.shape

(200000, 201)

In [12]:
features = train_df.columns.values[2:202]
unique_max_train = []
unique_max_test = []

for feature in features:
    values = train_df[feature].value_counts()
    unique_max_train.append([feature , values.max() , values.idxmax()])
    
    values = test_df[feature].value_counts()
    unique_max_test.append([feature , values.max() , values.idxmax()])

In [ ]:
idx = features = train_df.columns.values[2:202]
for df in [test_df , train_df]:
    df['sum'] = df[idx].sum(axis = 1)
    df['min'] = df[idx].min(axis = 1)
    df['max'] = df[idx].max(axis = 1)
    df['mean'] = df[idx].mean(axis = 1)
    df['std'] = df[idx].std(axis = 1)
    df['skew'] = df[idx].skew(axis = 1)
    df['kurt'] = df[idx].kurtosis(axis = 1)
    df['med'] = df[idx].median(axis = 1)

In [ ]:
train_df[train_df.columns[202:]].head()

In [ ]:
test_df[test_df.columns[202:]].head()

In [ ]:
features = [c for c in train_df.columns if c not in ['ID_code' , 'target']]
for feature in features:
    train_df['r2_'+feature] = np.round(train_df[feature] , 2)
    test_df['r2_'+feature] = np.round(test_df[feature] , 2)
    train_df['r1_'+feature] = np.round(train_df[feature] , 2)
    test_df['r1_'+feature] = np.round(test_df[feature] , 2)

In [ ]:
print('Train and test columns : {} {}'.format(len(train_df.columns) , len(test_df.columns)))

In [ ]:
param = {
    'bagging_freq':5,
    'bagging_fraction':0.4,
    'boost_from_average':'false',
    'boost':'gbdt',
    'feature_fraction':0.05,
    'learning_rate':0.01,
    'max_depth':-1,
    'metric':'auc',
    'min_data_in_leaf':80,
    'min_sum_hessian_in_leaf':10.0,
    'num_leaves':13,
    'num_threads':8,
    'tree_learner':'serial',
    'objective':'binary',
    'verbosity':1
}

In [ ]:
from sklearn.model_selection import StratifiedKFold

In [ ]:
folds = StratifiedKFold(n_splits = 10 , shuffle = False , random_state = 44000)
oof = np.zeros(len(train_df))
predictions = np.zeros(len(test_df))
feature_importance_df = pd.DataFrame()

for fold_, (trn_idx , val_idx) in enumerate(folds.split(train_df.values , target.values)):
    print("Fold {}".format(fold_))
    trn_data = lgb.Dataset(train_df.iloc[trn_idx][features] , label = target.iloc[trn_idx])
    val_data = lgb.Dataset(train_df.iloc[val_idx][features] , label = target.iloc[val_idx])
    num_round = 1000000
    clf = lgb.train(param , trn_data , valid_sets = [trn_data , val_data] , verbose_eval = 1000 , early_stopping_rounds = 3000)
    oof[val_idx] = clf.predict(train_df.iloc[val_idx][features] , num_iteration = clf.best_iteration)
    
    fold_importance_df = pd.DataFrame()
    fold_importance_df["Feature"] = features
    fold_importance_df["importance"] = clf.features_importance()
    fold_importance_df["Feature"] = fold_ + 1
    feature_importance_df = pd.concat([feature_importance_df , fold_importance_df] , axis =0)
    
    predictions = clf.predict(test_df[features] , num_iteration = clf.best_iteration)/fold.n_splits
    
print("CV score: {:<8.5f}".format(roc_aur_score(target , oof)))